abSleep:
  thresholdNotYetReached: '<&a>Es sind <&2>{sleeping_count}<&a>/<&2>{threshold_count} <&a>benötigen Spielern im Bett'
  thresholdReached: '<&a>Die Nacht wird durchgeschlafen'

backOverride:
  teleportedBack: '<&6>Du kehrst zur letzten Position zurück.'
