abSleep:
  thresholdNotYetReached: '<&a>Es sind <&2>{sleeping_count}<&a>/<&2>{threshold_count} <&a>benötigen Spielern im Bett'
  thresholdReached: '<&a>Die Nacht wird durchgeschlafen'

backOverride:
  teleportedBack: '<&6>Du kehrst zur letzten Position zurück.'

furnaceLevel:
  noLevelsStored: '<&7>[XP] Keine Level gespeichert'
  levelsStored: '<&6>[XP] {old_level} → {new_level} <&7>({next_level_progress}% ↑)'

getUuid:
  noPermission: '{lut.prefix} <&c>Du hast keinen Zugriff auf diesen Befehl!'
  commandUsage: '{lut.prefix} <&c>Benutzung: /{command_label} \<Name>'
  unknownName: '{lut.prefix} <&c>Konnte zum Namen <&4>{name} <&c>keine UUID finden!'
  resultMessage: |
    {lut.prefix} <&7>Die UUID von <&a>{name} <&7>ist <&a><u>
      <hover-text value={<&a>Klicke, um die UUID zu kopieren!}>
        <to-clipboard [value]="uuid">
          {uuid}
    </u><&7>!

ping:
  noOtherPermission: '{lut.ping_prefix} <&c>Dir fehlen die Zugriffsrechte, um den Ping anderer Spieler einzusehen!'
  noTargetConsoleSender: '{lut.ping_prefix} <&c>Dieser Befehl ist ohne explizitem Namen nur für Spieler verfügbar!'
  targetNotOnline: '{lut.ping_prefix} <&c>Der Spieler <&4>{name} <&c>ist nicht online!'
  pingSelf: '{lut.ping_prefix} <&7>Dein Ping: <&a>{ping}ms'
  pingOther: '{lut.ping_prefix} <&a>{name}''s <&7>Ping: <&a>{ping}ms'

cLut:
  prefix: '<&7>[<&5>BBTweaks<&7>]'
  ping_prefix: '<&7>[<&6>Ping<&7>]'
