mainCommand:
  noPermission: '{lut.prefix} <&c>Dir fehlen die Zugriffsrechte für diesen Befehl!'
  commandUsage: |
    {lut.prefix} <&c>Benutzung: /{command_label} <&7>\<
      <&e *for-action="actions" *for-separator={<&7>,<space/>}>{action}</>
    <&7>>
  configReloadSuccess: '{lut.prefix} <&a>Die Konfiguration wurde neu geladen.'
  configReloadError: '{lut.prefix} <&c>Die Konfiguration konnte nicht erfolgreich neu geladen werden; siehe Konsole!'
  setRdBreakerNoValidItem: '{lut.prefix} <&c>Du hältst kein valides Item in der Hand!'
  setRdBreakerMetadata: '{lut.prefix} <&a>Dieses Item ist nun als RD-Breaker gekennzeichnet.'
  setRdBreakerPlayersOnly: '{lut.prefix} <&c>Dieser Befehl ist nur Spielern zugänglich!'

abSleep:
  thresholdNotYetReached: '<&a>Es sind <&2>{sleeping_count}<&a>/<&2>{threshold_count} <&a>benötigen Spielern im Bett'
  thresholdReached: '<&a>Die Nacht wird durchgeschlafen'

backOverride:
  teleportedBack: '<&6>Du kehrst zur letzten Position zurück.'

furnaceLevel:
  noLevelsStored: '<&7>[XP] Keine Level gespeichert'
  levelsStored: '<&6>[XP] {old_level} → {new_level} <&7>({next_level_progress}% ↑)'

getUuid:
  noPermission: '{lut.prefix} <&c>Du hast keinen Zugriff auf diesen Befehl!'
  commandUsage: '{lut.prefix} <&c>Benutzung: /{command_label} \<Name>'
  unknownName: '{lut.prefix} <&c>Konnte zum Namen <&4>{name} <&c>keine UUID finden!'
  resultMessage: |
    {lut.prefix} <&7>Die UUID von <&a>{name} <&7>ist <&a><u>
      <hover-text value={<&a>Klicke, um die UUID zu kopieren!}>
        <to-clipboard [value]="uuid">
          {uuid}
    </u><&7>!

ping:
  noOtherPermission: '{lut.ping_prefix} <&c>Dir fehlen die Zugriffsrechte, um den Ping anderer Spieler einzusehen!'
  noTargetConsoleSender: '{lut.ping_prefix} <&c>Dieser Befehl ist ohne explizitem Namen nur für Spieler verfügbar!'
  targetNotOnline: '{lut.ping_prefix} <&c>Der Spieler <&4>{name} <&c>ist nicht online!'
  pingSelf: '{lut.ping_prefix} <&7>Dein Ping: <&a>{ping}ms'
  pingOther: '{lut.ping_prefix} <&a>{name}''s <&7>Ping: <&a>{ping}ms'

additionalRecipes:
  shapedRecipes:
    light-blocks:
      result: LIGHT
      amount: 1
      shape:
        - AAA
        - ABA
        - AAA
      ingredients:
        A:
          type: GLASS_PANE
        B:
          type: TORCH

cLut:
  prefix: '<&7>[<&5>BBTweaks<&7>]'
  ping_prefix: '<&7>[<&6>Ping<&7>]'
